
  <div class=" text-center bg-danger">
    <div class="row text-warning   "></div>
    <h1 class="text-warning pb-3 pt-2" >Burgers!</h1></div>
  </div>
<div class="container ">
<div class="row">
  <div class="col-4 offset-1 bg-warning mb-2 text-center">
    <h2 class="text-center text-light rounded">Burgers</h2>
  </div>
  <div class="col-4 offset-1 text-center text-light bg-warning mb-2">
    <h2 class="">Recipes</h2>
  </div>
</div>
<div class="row">
  <div class="col-4 offset-1 btn-danger"><ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul></div>


  <div class="col-4 offset-1 btn-danger">
<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul></div>
</div>







<div class="row bg-warning"><div class=" bg-warning col-3  offset-4">
<h2 class="text-light text-center">Order</h2>
</div>
</div>
<div class="row bg-warning"><div class="col-3 offset-3">
<h2>Add a burger</h2>
<form class="create-form ">

  <div class="form-group ">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group bg-danger">
    <label class="text-light" for="devoured">Make a Burger or Create a Recipe</label><br>
    <input class="text-light" type="radio" name="devoured" value="1" checked>Create Recipe<br>
    <input class="text-light" type="radio" name="devoured" value="0"> Make Burger</input>
  </div>

  <button class="btn-danger" type="submit ">Add burger</button>
</form>

</div></div>
</div>